# نام ورکر ترکیبی شما
name = "telegram-anime-bot"
main = "src/worker.js"
compatibility_date = "2024-03-20"

# تعریف فضاهای ذخیره‌سازی KV
kv_namespaces = [
  # KV برای دستیار انیمه (کلید API، تاریخچه چت)
  { binding = "USER_KEYS", id = "9eb3a04fea214473abe0bd411e16ff75" },
  
  # KV برای ربات اعلان (اطلاعات کاربر و لیست انیمه‌ها)
  { binding = "NOTIFIER_KV", id = "0f774719c146491c88cdb5206a592523" },

  # KV برای ذخیره خلاصه داستان‌های ترجمه شده
  { binding = "SYNOPSIS_CACHE", id = "00ec6df49a634a44b2df68afab45f541" },
  
  # KV برای کش کردن نتایج جستجوی زنده (Inline)
  { binding = "INLINE_CACHE", id = "86e3af9f5f0d489ea08f76b8cdf39041" }
]

# فعال کردن Durable Objects (نگهبان‌های اعلان)
[[durable_objects.bindings]]
name = "ANIME_GUARDIAN"
class_name = "NotifierDO"

# تنظیمات برای اجرای خودکار برنامه‌ریز روزانه (هر روز نیمه‌شب)
[triggers]
crons = ["0 0 * * *"]

# بخش migrations برای Durable Object با فرمت جدید برای پلن رایگان
[[migrations]]
tag = "v3"
new_sqlite_classes = [ "NotifierDO" ]
